---
import fs from 'node:fs';
import probe from 'probe-image-size';

const { name, alt, version } = Astro.props;

const image = fs.readFileSync(new URL(
    `../../filament/${version}/docs-assets/screenshots/images/light/${name}.jpg`,
    import.meta.url,
));
const dimensions = probe.sync(image);
---

<div style={`aspect-ratio: ${dimensions.width} / ${dimensions.height}; max-height: ${dimensions.height}px`} class="rounded-xl mb-6 ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/10">
  <img
    src={`/docs/${version}/images/light/${name}.jpg`}
    alt={alt}
    loading="lazy"
    decoding="async"
    class="rounded-xl dark:hidden"
  />

  <img
    src={`/docs/${version}/images/dark/${name}.jpg`}
    alt={alt}
    loading="lazy"
    decoding="async"
    class="rounded-xl hidden dark:block"
  />
</div>

