---
import Button from "@components/Button.astro";
import HeroBackground from "@components/HeroBackground.astro";
import blurAmberImage from "@assets/blur-amber.png";
import blurAmberDarkImage from "@assets/blur-amber-dark.png";
import { Code } from "astro/components";

const codeLanguage = "php";
const code = `use Filament\\Forms;
use Filament\\Resources\\Form;
use Filament\\Forms\\Components\\TextInput;

public static function form(Form $form): Form
{
  return $form
    ->schema([
        TextInput::make('name')->required(),
        TextInput::make('email')->email()->required(),
        // ...
    ]);
}`;

const tabs = [
  { name: "UserResource.php", isActive: true },
  { name: "ListUsers.php", isActive: false },
];

const { getStartedLink } = Astro.props;
---

<div class="hero overflow-hidden bg-slate-900 dark:-mb-32 dark:mt-[-4.5rem] dark:pb-32 dark:pt-[4.5rem] dark:lg:mt-[-4.75rem] dark:lg:pt-[4.75rem]">
  <div class="py-16 sm:px-2 lg:relative lg:py-20 lg:px-0">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 px-4 lg:max-w-8xl lg:grid-cols-2 lg:px-8 xl:gap-x-16 xl:px-12">
      <div class="relative z-10 md:text-center lg:text-left">
        <img class="absolute bottom-full right-full -mr-72 -mb-56 opacity-50" src={blurAmberImage} alt="" width={530} height={530} />
        <div class="relative">
          <p class="inline bg-gradient-to-r from-amber-500 via-amber-600 to-amber-500 bg-clip-text font-display text-3xl font-bold tracking-tight text-transparent md:text-5xl">
            The elegant <strong>TALLkit</strong> for Laravel artisans.
          </p>
          <p class="mt-3 text-xl tracking-tight text-slate-300 md:text-2xl">Filament is a collection of tools for rapidly building beautiful TALL stack apps, designed for humans.</p>
          <div class="mt-8 flex gap-4 md:justify-center lg:justify-start">
            <Button href={getStartedLink}>Get started</Button>
            <Button href="https://github.com/filamentphp/filament" variant="secondary" target="_blank" rel="noopener noreferrer">View on GitHub</Button>
          </div>
        </div>
      </div>
      <div class="relative lg:static xl:pl-10">
        <div
          class="absolute inset-x-[-50vw] -top-32 -bottom-48 [mask-image:linear-gradient(transparent,white,white)] dark:[mask-image:linear-gradient(transparent,white,transparent)] lg:left-[calc(50%+14rem)] lg:right-0 lg:-top-32 lg:-bottom-32 lg:[mask-image:none] lg:dark:[mask-image:linear-gradient(white,white,transparent)]"
        >
          <HeroBackground class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 lg:left-0 lg:translate-x-0 lg:translate-y-[-60%]" />
        </div>
        <div class="relative">
          <img class="absolute -top-64 -right-64" src={blurAmberImage} alt="" width={530} height={530} />
          <img class="absolute -bottom-40 -right-44" src={blurAmberDarkImage} alt="" width={567} height={567} />
          <div class="absolute inset-0 rounded-2xl bg-gradient-to-tr from-amber-300 via-amber-500 to-amber-300 opacity-10 blur-lg"></div>
          <div class="absolute inset-0 rounded-2xl bg-gradient-to-tr from-amber-300 via-amber-500 to-amber-300 opacity-10"></div>
          <div class="relative rounded-2xl bg-[#0A101F]/80 ring-1 ring-white/10 backdrop-blur">
            <div class="absolute -top-px left-20 right-11 h-px bg-gradient-to-r from-amber-300/0 via-amber-500 to-amber-300/0"></div>
            <div class="absolute -bottom-px left-11 right-20 h-px bg-gradient-to-r from-amber-400/0 via-amber-500 to-amber-400/0"></div>
            <div class="pl-4 pt-4">
              <svg class="h-2.5 w-auto stroke-slate-500/30" aria-hidden="true" viewBox="0 0 42 10" fill="none">
                <circle cx="5" cy="5" r="4.5"></circle>
                <circle cx="21" cy="5" r="4.5"></circle>
                <circle cx="37" cy="5" r="4.5"></circle>
              </svg>
              <div class="mt-4 flex space-x-2 text-xs">
                {
                  tabs.map((tab) => (
                    <div
                      class:list={[
                        'flex h-6 rounded-full',
                        { "bg-gradient-to-r from-amber-400/30 via-amber-500 to-amber-400/30 p-px font-bold text-amber-500": tab.isActive },
                        { "text-slate-500": !tab.isActive },
                      ]}
                    >
                      <div
                        class:list={[
                          "flex items-center rounded-full px-2.5",
                          { "bg-slate-800": tab.isActive }
                        ]}
                      >
                        {tab.name}
                      </div>
                    </div>
                  ))
                }
              </div>
              <div class="mt-6 flex items-start text-sm">
                <div aria-hidden="true" class="select-none border-r border-slate-300/5 pr-4 font-mono text-slate-600">
                  {
                    Array.from({
                      length: code.split("\n").length,
                    }).map((_, index) => (
                      <>
                        {(index + 1).toString().padStart(2, "0")}
                        <br />
                      </>
                    ))
                  }
                </div>
                {import.meta.env.DEV ? (
                  <Code code={code} lang={codeLanguage} theme="material-palenight" />
                ) : (
                  <pre><code class={`language-${codeLanguage}`}>{code}</code></pre>
                )}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
