---
import { Icon } from 'astro-icon'

let segments = Astro.url.pathname.match(/\/([0-9]*\.x)\/([a-z\-\_]*)\//) || ["/2.x/admin/", "2.x", "admin"];

let currentPackage = segments[2].replaceAll("/", "");

const { navigation } = Astro.props;

let packageNavigation = navigation.links?.find((item) => item.slug === currentPackage);

const pathName = Astro.url.pathname.replace(/\/+$/, '');
---

<nav
  class="w-64 text-base pe-8 lg:text-sm xl:w-72 xl:pe-16"
>
  <ul role="list" class="p-2 space-y-2 bg-gray-200 rounded-md mb-9 dark:bg-gray-800">
    {navigation?.links.map((section) => (
      <li>
        <a
          href={section.href}
          class:list={[
            "block rounded-md bg-gray-100 px-4 py-2 font-display font-bold dark:bg-gray-900",
            { "text-primary-500 before:bg-primary-500": pathName.includes(`/${section.slug}/`) },
            { "text-gray-600 before:hidden before:bg-gray-300 hover:text-primary-500 hover:before:block dark:text-gray-300 dark:before:bg-gray-700 dark:hover:text-gray-300": ! pathName.includes(`/${section.slug}/`) },
          ]}
        >
          <h2 class="flex items-center gap-3">
            <Icon name={section.icon} class="w-5 h-5" />
            <span>{section.title}</span>
          </h2>
        </a>
      </li>
    ))}
  </ul>
  <ul role="list" class="space-y-9">
    {packageNavigation?.links.map((section) => (
      <li>
        <a
          href={section.href}
          class:list={[
            "font-display font-bold",
            { "text-primary-500 before:bg-primary-500": section.href === pathName },
            { "text-gray-500 before:hidden before:bg-gray-300 hover:text-gray-600 hover:before:block dark:text-gray-300 dark:before:bg-gray-700 dark:hover:text-gray-300": section.href !== pathName },
          ]}
        >
          <h2 class="">{section.title}</h2>
        </a>

        <ul role="list" class="mt-2 space-y-2 border-gray-100 border-s-2 dark:border-gray-800 lg:mt-4 lg:space-y-4 lg:border-gray-200">
          {section.links.map((link) => (
            <li class="relative">
              <a
                href={link.href}
                class:list={[
                  "block w-full ps-3.5 before:pointer-events-none before:absolute before:-start-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full",
                  { "font-semibold text-primary-500 before:bg-primary-500": link.href === pathName },
                  { "text-gray-500 before:hidden before:bg-gray-300 hover:text-gray-600 hover:before:block dark:text-gray-300 dark:before:bg-gray-700 dark:hover:text-gray-300": link.href !== pathName },
                ]}
              >
                {link.title}
              </a>
            </li>
          ))}
        </ul>
      </li>
    ))}
  </ul>
</nav>
