---
import ploiio from "@assets/ploiio.png";
import codecourse from "@assets/codecourse.png";
import devdojo from "@assets/devdojo.png";
import laradir from "@assets/laradir.png";
import egotrace from "@assets/egotrace.png";
import flare from "@assets/flare.png";
import larasapien from "@assets/larasapien.png";
import ohdear from "@assets/ohdear.jpg";
---

<aside class="space-y-8">
  <h4 class="text-center font-display text-xl font-bold text-slate-900 dark:text-white xl:text-left">Sponsors</h4>

  <div class="space-y-4 pb-12">
    <a href="https://ploi.io" target="__blank" class="mx-auto block max-w-xs">
      <img src={ploiio} alt="Ploi" class="block rounded-xl" width={224} height={84} loading="lazy" />
    </a>

    <a href="https://codecourse.com" target="__blank" class="mx-auto block max-w-xs">
      <img src={codecourse} alt="Codecourse" class="block rounded-xl" width={224} height={78} loading="lazy" />
    </a>

    <a href="https://devdojo.com" target="__blank" class="mx-auto block max-w-xs">
      <img src={devdojo} alt="Devdojo" class="block rounded-xl" width={224} height={82} loading="lazy" />
    </a>

    <a href="https://laradir.com" target="__blank" class="mx-auto block max-w-xs">
      <img src={laradir} alt="Laradir" class="block rounded-xl" width={224} height={75} loading="lazy" />
    </a>

    <a href="https://ego-trace.com" target="__blank" class="mx-auto block max-w-xs rounded-xl bg-white p-4">
      <img src={egotrace} alt="EgoTrace" class="block" width={224} height={70} loading="lazy" />
    </a>

    <a href="https://flareapp.io" target="__blank" class="mx-auto block max-w-xs">
      <img src={flare} alt="Flare" class="block rounded-xl" width={224} height={112} loading="lazy" />
    </a>

    <a href="https://larasapien.com/?utm_source=filamentphp.com" target="__blank" class="mx-auto block max-w-xs">
      <img src={larasapien} alt="Larasapien" class="block rounded-xl" width={224} height={113} loading="lazy" />
    </a>

    <a href="https://ohdear.app" target="__blank" class="mx-auto block max-w-xs">
      <img src={ohdear} alt="Oh Dear" class="block rounded-xl" width={224} height={78} loading="lazy" />
    </a>

    <a href="https://github.com/sponsors/danharrin" target="__blank" class="group mx-auto flex max-w-xs items-center justify-center gap-2 rounded-xl bg-gray-50 p-4 text-center text-sm font-bold hover:bg-pink-100 dark:bg-gray-800 dark:text-white dark:hover:bg-pink-900">
      <div>Your logo here?</div>
      <div class="origin-center transition group-hover:scale-125">💖</div>
    </a>
  </div>
</aside>
